.home {
  .title {
    height: 88px;
    line-height: 88px;
    text-align: center;
  }
  .scan-code{
    margin-top:30px;
  }
  .bottom{
    position: fixed;
    left:0;
    right: 0;
    bottom:0;
    height: 88px;;
    justify-content: center;
    align-items: center;
    .icon{
      text-align: center
    }
  }
}
